.content-table {
	text-align: center;
	text-align: -webkit-center;
}

table {
	width: 40em;
	border-radius: 5px;
}

thead tr:nth-child(1) {
	color: white;
	background-color: #005883;
}

thead tr:nth-child(2) {
	color: black;
	background-color: #98C3FC;
}

tbody tr:nth-child(even) {
	color: black;
	background-color: #E4E4E4;
}

tbody tr:nth-child(odd) {
	background-color: #FFFFE6;
}

a:visited {
	color: blue;
}

tbody tr td:nth-child(1) {
	text-align: center;
}

tbody tr td:nth-child(3) {
	text-align: center;
}

td {
	padding: 10px;
}