.content-table {
	text-align: center;
	text-align: -webkit-center;
}

table {
	width: 40em;
	border-radius: 5px;
}

thead tr:nth-child(1) {
	color: white;
	background-color: #005883;
}

thead tr:nth-child(2) {
	color: black;
	background-color: #98C3FC;
}

thead tr:nth-child(1) th {
	padding: 15px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

thead tr:nth-child(2) th{
	padding: 10px;
}

tbody tr:nth-child(even) {
	color: black;
	background-color: #E4E4E4;
}

tbody tr:nth-child(odd) {
	background-color: #FFFFE6;
}

tbody tr td:nth-child(1) {
	text-align: center;
}

tbody tr td:nth-child(3) {
	text-align: center;
}

tbody tr:last-child td:nth-child(1) {
	border-bottom-left-radius: 10px;
}

tbody tr:last-child td:nth-child(3) {
	border-bottom-right-radius: 10px;
}

td {
	padding: 10px;
}

.notification-button {
	background-color: #005883;
	color: white;
	text-decoration: none;
	padding: 5px 15px 5px 15px;
	position: relative;
	display: inline-block;
	border-radius: 5px;
	transition: background-color 200ms ease;
}

.notification-button:hover {
	background-color: #333;
}

.notification-button .badge {
	position: absolute;
	font-family: Verdana;
	top: -10px;
	right: -10px;
	padding: 5px 10px;
	border-radius: 50%;
	background-color: red;
	color: white;
}