@font-face {
	font-family: Raleway;
	src: url('/juancutiva.github.io/fonts/Raleway/Raleway-Regular.ttf');
}

body {
	font-family: Raleway, Calibri, Arial;
	margin: 0;
}

header {
	width: 100%;
	height: 128px;
	background: url('/juancutiva.github.io/img/main/logoUNAD-HD.png') no-repeat top center;
	background-size: 100% 128px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 128px;
	background: url('/juancutiva.github.io/img/main/logoUNADMobile-HD.png') no-repeat 5% 50%;
	background-size: 15em;
	background-color: #333333;
}

input {
	width: 250px;
	height: 16px;
	font-size: 15px;
}

.header {
	background: linear-gradient(#005883 50%, white);
	height: 50px;
}

.login-container {
	width: 25em;
	border: 2px solid #B3B3B3;
	border-radius: 10px;
	padding: 20px;
}

#title-login {
	color: #005883;
	font-family: Raleway;
	font-size: 18px;
}

#user, #password {
	border: none;
	padding: 5px 0px 5px 0px;
	border-bottom: 1px solid #005883;
	transition: all 0.3s cubic-bezier(.64,.09,.08,1);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, #005883 4%);
	background-position: -250px 0;
	background-size: 250px 100%;
	background-repeat: no-repeat;
}

#user:focus, #password:focus {
	box-shadow: none;
	outline: none;
	background-position: 0 0;
}

#login {
	color: white;
	background-color: #005883;
	border: 1px solid #005883;
	font-family: Raleway;
	font-size: 15px;
	height: 30px;
	border-radius: 5px;
	transition: all 300ms ease;
}

#login:hover {
	cursor: pointer;
	color: #005883;
	background-color: white;
}

#login:focus {
	outline: none;
}