@font-face {
	font-family: Raleway;
	src: url('/Users/juancutiva/Documents/GitHub/diseno_sitios_web_301122_35/fonts/Raleway/Raleway-Regular.ttf');
}

body {
	font-family: Raleway, Calibri, Arial;
}

header {
	background: url('/Users/juancutiva/Documents/GitHub/diseno_sitios_web_301122_35/img/main/logoUNAD-HD.png');
}

.header {
	background-color: blue;
}