h1 {
	text-align: center;
}

.general-content {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row;
	flex-flow: row;
}

.general-content aside {
	-webkit-flex: 1 6 20%;
	flex: 1 6 20%;
	-webkit-order: 1;
	order: 1;

}

.general-content article {
	-webkit-flex: 1 6 80%;
	flex: 1 6 80%;
	-webkit-order: 2;
	order: 2;
}