<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="description" content="Universidad UNAD.Universidad.Pagina WEB HTML.Diseno de Sitios Web">
	<meta name="author" content="Juan Felipe Castillo Cutiva">
	<meta name="keywords" content="HTML5,CSS,jQuery,CSS3,GitHub">
	<meta http-equiv="Content-Language" content="es">
	<meta name="distribution" content="global">
	<title>UNAD - Programación WEB I</title>
	<link rel="Shortcut Icon" href="/juancutiva.github.io/img/favicon/favicon-unad.png">
	<link rel="stylesheet" type="text/css" href="/juancutiva.github.io/css/main.css">
	<link rel="stylesheet" type="text/css" href="/juancutiva.github.io/css/programacion_web_I.css">
	<script type="text/javascript" src="/juancutiva.github.io/js/jquery-3.3.1.min.js"></script>
</head>
<body>
	<header></header>
	<div id="header-index" class="header"></div>
	<div class="general-content">
		<aside>
			<ul>
				<li>Introducción a la Programación WEB
					<ul>
						<li>Métodos y Características</li>
						<li></li>
						<li>3 nivel</li>
					</ul>
				</li>
				<li>Calendario del Curso</li>
				<li>Material de Apoyo
					<ul>
						<li>Videos</li>
						<li>Manuales</li>
						<li>Ejemplos</li>
					</ul>
				</li>
				<li><a href="/juancutiva.github.io/views/contacto.html">Contacto</a></li>
			</ul>
		</aside>
		<article class="main-content">
			<div class="navigator">
				<ul>
					<li><a href="/juancutiva.github.io/views/accesit.html"><img src="/juancutiva.github.io/img/navigator/home-navigator-icon.png" alt="home" width="13" height="13"> AccesIT</a></li>
					<li><img src="/juancutiva.github.io/img/navigator/arrow-navigator-icon.png" alt="arrow" width="10" height="10"></li>
					<li><a href="/juancutiva.github.io/views/cursos-virtuales.html"><img src="/juancutiva.github.io/img/navigator/books-navigator-icon.png" alt="books" width="18" height="13"> Mis Cursos Virtuales</a></li>
					<li><img src="/juancutiva.github.io/img/navigator/arrow-navigator-icon.png" alt="arrow" width="10" height="10"></li>
					<li><a href="/juancutiva.github.io/views/programacion_web_I.html"><img src="/juancutiva.github.io/img/navigator/code-navigator-icon.png" alt="books" width="18" height="13"> Programación WEB I</a></li>
					<li><img src="/juancutiva.github.io/img/navigator/arrow-navigator-icon.png" alt="arrow" width="10" height="10"></li>
					<li>Contacto</li>
				</ul>
			</div>
			<div class="user-menu">
				<div class="dropdown">
					<div id="username" class="name">
						<img src="/juancutiva.github.io/img/user-profile-img.png" alt="user-img">Administrador
					</div>
					<div class="dropdown-content">
						<a href="#">Mi cuenta</a>
						<a href="#">Configuración</a>
						<a href="/juancutiva.github.io/index.html">Cerrar sesión</a>
					</div>
				</div>
			</div>
			<h1>Información de Contacto</h1>

		</article>
	</div>
<footer>
	<p>
		Sede nacional José Celestino Mutis: Calle 14 sur No. 14 - 23
		<br>
		PBX:<a style="color:#FFF;" href="tel:+5713443700"> ( +57 1 ) 344 3700</a> Bogotá D.C., Colombia
		<br>
		Línea nacional gratuita desde Colombia: <a style="color:#FFF;" href="tel:018000115223">018000115223</a>
		<br>
		Atención al usuario: atencionalusuario@unad.edu.co
		<br>
		Institución de Educación Superior sujeta a inspección y vigilancia por el Ministerio de Educación Nacional
	</p>
</footer>
<script type="text/javascript" src="/juancutiva.github.io/js/main.js"></script>
</body>
</html>