<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Universidad UNAD.Universidad.Pagina WEB HTML.Diseno de Sitios Web">
	<meta http-equiv="Content-Language" content="es">
	<meta name="distribution" content="global">
	<title>UNAD - Inicio de Sesión</title>
	<link rel="Shortcut Icon" href="/juancutiva.github.io/img/favicon/favicon-unad.png">
	<link rel="stylesheet" type="text/css" href="/juancutiva.github.io/css/main.css">
	<script type="text/javascript" src="/juancutiva.github.io/js/jquery-3.3.1.min.js"></script>
</head>
<body>
	<header></header>
	<div id="header-index" class="header"></div>
	<div class="user-menu">
		<div class="dropdown">
			<div id="username" class="name">
				<img src="/juancutiva.github.io/img/user-profile-img.png" alt="user-img">Administrador
			</div>
			<div class="dropdown-content">
				<a href="#">Mi cuenta</a>
				<a href="#">Configuración</a>
				<a href="/juancutiva.github.io/index.html">Cerrar sesión</a>
			</div>
		</div>
	</div>
	<div class="content-table">
		<table>
			<thead>
				<tr>
					<th colspan="3">Campus Virtual</th>
				</tr>
				<tr>
					<th colspan="3">Campus Virtual</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>204035A_611</td>
					<td>Programación WEB I</td>
					<td><a href="">ECBTI50</a></td>
				</tr>
				<tr>
					<td>405422A_611</td>
					<td>Cálculo Diferencial</td>
					<td><a href="">ECBTI38</a></td>
				</tr>
				<tr>
					<td>300456A_611</td>
					<td>Inglés III</td>
					<td><a href="">INVIL01</a></td>
				</tr>
				<tr>
					<td>243570A_611</td>
					<td>Gestión de personal</td>
					<td><a href="">ECACEN32</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<footer style="position: initial;">
		<p>
			Sede nacional José Celestino Mutis: Calle 14 sur No. 14 - 23
			<br>
			PBX:<a style="color:#FFF;" href="tel:+5713443700"> ( +57 1 ) 344 3700</a> Bogotá D.C., Colombia
			<br>
			Línea nacional gratuita desde Colombia: <a style="color:#FFF;" href="tel:018000115223">018000115223</a>
			<br>
			Atención al usuario: atencionalusuario@unad.edu.co
			<br>
			Institución de Educación Superior sujeta a inspección y vigilancia por el Ministerio de Educación Nacional

		</p>
	</footer>
	<script type="text/javascript" src="/juancutiva.github.io/js/main.js"></script>
</body>
</html>